*{
    box-sizing: border-box;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
li{
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
}


body{
    background: rgba(6, 4, 10, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.container{
    width: 500px;
}

.calculator{
    height: 100%;
    background: #E8F5FF;
    border: 8px solid blue;
    border-radius: 10px;
    padding: 30px;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkgray;
    border-radius: 10px ;
    padding: 10px 20px;
    height: 88px;
}
    .display p{
        font-weight: 400;
        font-size: 50px;
        margin: 0px;
        margin-left: auto;
    }

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    .nums{
        flex: 6;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        padding-right: 18px;
        color: blue;
        font-weight: bold;
    }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
            border-radius: 3px;
            padding: 13px 6px;
        }

    .operations{
        flex: 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        color: white;
        text-shadow: 1px 1px 3px black;
    }
        .operations .equals{
            grid-row: 3 / span 2;
            grid-column: 2;
            height: 100%;
            background: rgb(41, 41, 235);
        }

        @media screen and (max-width: 500px) {
            .container{
                padding: 10px 60px;
            }
            .display p{
                font-size: 40px;
            }
            .display {
                height: 80px;
            }
            .buttons{
                display: flex;
                justify-content: center;
                width: auto;
                margin-top: 10px;
            }
            .nums li{
                padding: 13px 16px;
            }

            .operations li{
                padding: 13px 13px;
            }
            li{
                font-size: 25px;
            }
        }